<form class="{{cssClass}}" autocomplete="off">
    <div class="main-content">
        <div class="header-fields">
            <div class="row">
                <div class="column title" style="width:90%">
                    {{localize 'sta.actor.character.name'}}
                </div>
                <div class="column title" style="width:10%">
                    {{localize 'sta.actor.character.rank'}}
                </div>
            </div>
            <div class="row">
                <div class="column title" style="width:90%">
                    <input name="name" type="text" value="{{name}}" placeholder="Name" />
                </div>
                <div class="column title" style="width:10%">
                    <input name="system.rank" type="text" value="{{system.rank}}" placeholder="21" />
                </div>
            </div>
        </div>
        <div class="main">
            <div class="row">
                <div class="limited-only">
                </div>
            </div>
            <div class="row">
                <div class="column">
                </div>
                <div class="column">
                    <div class="section img">
                        <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}" />
                    </div>
                </div>
                <div class="column">
                </div>
            </div>
        </div>
    </div>
</form>