<section class="dialogue">
  <div class="row">
    <span class="tracktitle cheatsheet">{{localize "sta.roll.melee"}}</span>
    <div class="column value">
      {{localize "sta.actor.character.attribute.daring"}} & 
      {{localize "sta.actor.character.discipline.security"}}
    </div>
  </div>

  <div class="row">
    <span class="tracktitle cheatsheet">{{localize "sta.roll.ranged"}}</span>
    <div class="column value">
      {{localize "sta.actor.character.attribute.control"}} & 
      {{localize "sta.actor.character.discipline.security"}}
    </div>
  </div>

  <div class="row">
    <span class="tracktitle cheatsheet">{{localize "sta.roll.firstaid"}}</span>
    <div class="column value">
      {{localize "sta.actor.character.attribute.daring"}} & 
      {{localize "sta.actor.character.discipline.medicine"}}
    </div>
  </div>

  <div class="row">
    <span class="tracktitle cheatsheet">{{localize "sta.roll.direct"}}</span>
    <div class="column value">
      {{localize "sta.actor.character.attribute.control"}} & 
      {{localize "sta.actor.character.discipline.command"}}
    </div>
  </div>

  <div class="row">
    <span class="tracktitle cheatsheet">{{localize "sta.roll.guard"}}</span>
    <div class="column value">
      {{localize "sta.actor.character.attribute.insight"}} & 
      {{localize "sta.actor.character.discipline.security"}}
    </div>
  </div>

  <div class="row">
    <span class="tracktitle cheatsheet">{{localize "sta.roll.sprint"}}</span>
    <div class="column value">
      {{localize "sta.actor.character.attribute.fitness"}} & 
      {{localize "sta.actor.character.discipline.conn"}}
    </div>
  </div>

  <div class="row">
    <span class="tracktitle cheatsheet">{{localize "sta.roll.rally"}}</span>
    <div class="column value">
      {{localize "sta.actor.character.attribute.presence"}} & 
      {{localize "sta.actor.character.discipline.command"}}
    </div>
  </div>

  <div class="row">
    <span class="tracktitle cheatsheet">{{localize "sta.roll.damagecontrol"}}</span>
    <div class="column value">
      {{localize "sta.actor.character.attribute.presence"}} & 
      {{localize "sta.actor.character.discipline.engineering"}}
    </div>
  </div>

  <div class="row">
    <span class="tracktitle cheatsheet">{{localize "sta.roll.regainpower"}}</span>
    <div class="column value">
      {{localize "sta.actor.character.attribute.control"}} & 
      {{localize "sta.actor.character.discipline.engineering"}}
    </div>
  </div>
</section>