<section class="dialogue">
  <div class="row">
    <span class="tracktitle cheatsheet" title="{{localize "sta.tooltip.action.1e.melee"}}">{{localize "sta.roll.melee"}}</span>
    <div class="column value">
      {{localize "sta.actor.character.attribute.daring"}} & 
      {{localize "sta.actor.character.discipline.security"}}
    </div>
  </div>

  <div class="row">
    <span class="tracktitle cheatsheet" title="{{localize "sta.tooltip.action.1e.ranged"}}">{{localize "sta.roll.ranged"}}</span>
    <div class="column value">
      {{localize "sta.actor.character.attribute.control"}} & 
      {{localize "sta.actor.character.discipline.security"}}
    </div>
  </div>

  <div class="row">
    <span class="tracktitle cheatsheet" title="{{localize "sta.tooltip.action.1e.firstaid"}}">{{localize "sta.roll.firstaid"}}</span>
    <div class="column value">
      {{localize "sta.actor.character.attribute.daring"}} & 
      {{localize "sta.actor.character.discipline.medicine"}}
    </div>
  </div>

  <div class="row">
    <span class="tracktitle cheatsheet" title="{{localize "sta.tooltip.action.1e.direct"}}">{{localize "sta.roll.direct"}}</span>
    <div class="column value">
      ??? & 
      {{localize "sta.actor.character.discipline.command"}}
    </div>
  </div>

  <div class="row">
    <span class="tracktitle cheatsheet" title="{{localize "sta.tooltip.action.1e.recover"}}">{{localize "sta.roll.recover"}}</span>
    <div class="column value">
      {{localize "sta.actor.character.attribute.fitness"}} & 
      {{localize "sta.actor.character.discipline.command"}}
    </div>
  </div>

  <div class="row">
    <span class="tracktitle cheatsheet" title="{{localize "sta.tooltip.action.1e.sprint"}}">{{localize "sta.roll.sprint"}}</span>
    <div class="column value">
      {{localize "sta.actor.character.attribute.fitness"}} & 
      {{localize "sta.actor.character.discipline.security"}}
    </div>
  </div>

  <div class="row">
    <span class="tracktitle cheatsheet" title="{{localize "sta.tooltip.action.1e.rally"}}">{{localize "sta.roll.rally"}}</span>
    <div class="column value">
      {{localize "sta.actor.character.attribute.presence"}} & 
      {{localize "sta.actor.character.discipline.command"}}
    </div>
  </div>

  <div class="row">
    <span class="tracktitle cheatsheet" title="{{localize "sta.tooltip.action.1e.damagecontrol"}}">{{localize "sta.roll.damagecontrol"}}</span>
    <div class="column value">
      {{localize "sta.actor.character.attribute.presence"}} & 
      {{localize "sta.actor.character.discipline.engineering"}}
    </div>
  </div>

  <div class="row">
    <span class="tracktitle cheatsheet" title="{{localize "sta.tooltip.action.1e.powermanagement"}}">{{localize "sta.roll.powermanagement"}}</span>
    <div class="column value">
      {{localize "sta.actor.character.attribute.daring"}} / 
      {{localize "sta.actor.character.attribute.control"}} & 
      {{localize "sta.actor.character.discipline.engineering"}}
    </div>
  </div>

  <div class="row">
    <span class="tracktitle cheatsheet" title="{{localize "sta.tooltip.action.1e.deploysecurity"}}">{{localize "sta.roll.deploysecurity"}}</span>
    <div class="column value">
      {{localize "sta.actor.character.attribute.presence"}} & 
      {{localize "sta.actor.character.discipline.security"}}
    </div>
  </div>

  <!-- New rows -->
  <div class="row">
    <span class="tracktitle cheatsheet" title="{{localize "sta.tooltip.action.1e.fireweapon"}}">{{localize "sta.roll.attack"}}</span>
    <div class="column value">
      {{localize "sta.actor.character.attribute.control"}} & 
      {{localize "sta.actor.character.discipline.security"}} | 
      {{localize "sta.actor.starship.system.weapons"}} & 
      {{localize "sta.actor.starship.department.security"}}
    </div>
  </div>

  <div class="row">
    <span class="tracktitle cheatsheet" title="{{localize "sta.tooltip.action.1e.transport"}}">{{localize "sta.roll.transport"}}</span>
    <div class="column value">
      {{localize "sta.actor.character.attribute.control"}} & 
      {{localize "sta.actor.character.discipline.engineering"}} | 
      {{localize "sta.actor.starship.system.sensors"}} & 
      {{localize "sta.actor.starship.department.engineering"}}
    </div>
  </div>

  <div class="row">
    <span class="tracktitle cheatsheet" title="{{localize "sta.tooltip.action.1e.attackpattern"}}">{{localize "sta.roll.attackpattern"}}</span>
    <div class="column value">
      {{localize "sta.actor.character.attribute.daring"}} & 
      {{localize "sta.actor.character.discipline.conn"}} | 
      {{localize "sta.actor.starship.system.weapons"}} & 
      {{localize "sta.actor.starship.department.conn"}}
    </div>
  </div>

  <div class="row">
    <span class="tracktitle cheatsheet" title="{{localize "sta.tooltip.action.1e.evasiveaction"}}">{{localize "sta.roll.evasiveaction"}}</span>
    <div class="column value">
      {{localize "sta.actor.character.attribute.control"}} & 
      {{localize "sta.actor.character.discipline.conn"}} | 
      {{localize "sta.actor.starship.system.structure"}} & 
      {{localize "sta.actor.starship.department.conn"}}
    </div>
  </div>

  <div class="row">
    <span class="tracktitle cheatsheet" title="{{localize "sta.tooltip.action.1e.plotcourse"}}">{{localize "sta.roll.plotcourse"}}</span>
    <div class="column value">
      {{localize "sta.actor.character.attribute.reason"}} & 
      {{localize "sta.actor.character.discipline.conn"}} | 
      {{localize "sta.actor.starship.system.computers"}} & 
      {{localize "sta.actor.starship.department.conn"}}
    </div>
  </div>

  <div class="row">
    <span class="tracktitle cheatsheet" title="{{localize "sta.tooltip.action.1e.rammingspeed"}}">{{localize "sta.roll.rammingspeed"}}</span>
    <div class="column value">
      {{localize "sta.actor.character.attribute.daring"}} & 
      {{localize "sta.actor.character.discipline.conn"}} | 
      {{localize "sta.actor.starship.system.engines"}} & 
      {{localize "sta.actor.starship.department.conn"}}
    </div>
  </div>

  <div class="row">
    <span class="tracktitle cheatsheet" title="{{localize "sta.tooltip.action.1e.charthazard"}}">{{localize "sta.roll.charthazard"}}</span>
    <div class="column value">
      {{localize "sta.actor.character.attribute.reason"}} & 
      {{localize "sta.actor.character.discipline.conn"}} | 
      {{localize "sta.actor.starship.system.sensors"}} & 
      {{localize "sta.actor.starship.department.conn"}}
    </div>
  </div>

  <div class="row">
    <span class="tracktitle cheatsheet" title="{{localize "sta.tooltip.action.1e.regenerateshields"}}">{{localize "sta.roll.regenerateshields"}}</span>
    <div class="column value">
      {{localize "sta.actor.character.attribute.control"}} & 
      {{localize "sta.actor.character.discipline.engineering"}} | 
      {{localize "sta.actor.starship.system.structure"}} & 
      {{localize "sta.actor.starship.department.engineering"}}
    </div>
  </div>

  <div class="row">
    <span class="tracktitle cheatsheet" title="{{localize "sta.tooltip.action.1e.signalsjamming"}}">{{localize "sta.roll.signalsjamming"}}</span>
    <div class="column value">
      {{localize "sta.actor.character.attribute.control"}} & 
      {{localize "sta.actor.character.discipline.engineering"}} | 
      {{localize "sta.actor.starship.system.communications"}} & 
      {{localize "sta.actor.starship.department.security"}}
    </div>
  </div>

  <div class="row">
    <span class="tracktitle cheatsheet" title="{{localize "sta.tooltip.action.1e.scanforweakness"}}">{{localize "sta.roll.scanforweakness"}}</span>
    <div class="column value">
      {{localize "sta.actor.character.attribute.control"}} & 
      {{localize "sta.actor.character.discipline.science"}} | 
      {{localize "sta.actor.starship.system.sensors"}} & 
      {{localize "sta.actor.starship.department.security"}}
    </div>
  </div>

  <div class="row">
    <span class="tracktitle cheatsheet" title="{{localize "sta.tooltip.action.1e.sensorsweep"}}">{{localize "sta.roll.sensorsweep"}}</span>
    <div class="column value">
      {{localize "sta.actor.character.attribute.reason"}} & 
      {{localize "sta.actor.character.discipline.science"}} | 
      {{localize "sta.actor.starship.system.sensors"}} & 
      {{localize "sta.actor.starship.department.science"}}
    </div>
  </div>

  <div class="row">
    <span class="tracktitle cheatsheet" title="{{localize "sta.tooltip.action.1e.modulateshields"}}">{{localize "sta.roll.modulateshields"}}</span>
    <div class="column value">
      {{localize "sta.actor.character.attribute.control"}} & 
      {{localize "sta.actor.character.discipline.security"}} | 
      {{localize "sta.actor.starship.system.structure"}} & 
      {{localize "sta.actor.starship.department.engineering"}}
    </div>
  </div>

  <div class="row">
    <span class="tracktitle cheatsheet" title="{{localize "sta.tooltip.action.1e.tractorbeam"}}">{{localize "sta.roll.tractorbeam"}}</span>
    <div class="column value">
      {{localize "sta.actor.character.attribute.control"}} & 
      {{localize "sta.actor.character.discipline.security"}} | 
      {{localize "sta.actor.starship.system.weapons"}} & 
      {{localize "sta.actor.starship.department.security"}}
    </div>
  </div>

  <div class="row">
    <span class="tracktitle cheatsheet" title="{{localize "sta.tooltip.action.1e.damagereport"}}">{{localize "sta.roll.damagereport"}}</span>
    <div class="column value">
      {{localize "sta.actor.character.attribute.insight"}} & 
      {{localize "sta.actor.character.discipline.command"}} | 
      {{localize "sta.actor.starship.system.communications"}} & 
      {{localize "sta.actor.starship.department.engineering"}}
    </div>
  </div>
</section>