<div class="dialogue">
  <div class="row">
  <div class="tracktitle">{{localize 'sta.roll.npccrew'}}: </div>
	<label><input type="radio" name="skillLevel" value="basic" checked>{{localize 'sta.roll.npccrewbasic'}}</label><br>
    <label><input type="radio" name="skillLevel" value="proficient"> {{localize 'sta.roll.npccrewproficient'}}</label><br>
    <label><input type="radio" name="skillLevel" value="talented">{{localize 'sta.roll.npccrewtalented'}}</label><br>
    <label><input type="radio" name="skillLevel" value="exceptional">{{localize 'sta.roll.npccrewexceptional'}}</label>
  </div>
  <div class="row">
      <div class="flex-1">
          <div class="tracktitle">{{localize 'sta.apps.pool'}}</div>
      </div>
      <div class="flex-column flex-1">
          <div class="row">
              <span class="label align-left flex-1">{{localize 'sta.counting.one'}}</span>
              <span class="centered flex-1"></span>
              <span class="label centered flex-1">{{localize 'sta.counting.two'}}</span>
              <span class="centered flex-1"></span>
              <span class="label centered flex-1">{{localize 'sta.counting.three'}}</span>
              <span class="centered flex-1"></span>
              <span class="label centered flex-1">{{localize 'sta.counting.four'}}</span>
              <span class="centered flex-1"></span>
              <span class="label centered flex-1">{{localize 'sta.counting.five'}}</span>
          </div>
          <input type="range" name="dicePoolSlider" min="1" max="5" value="2" class="slider" id="dicePoolSlider">
      </div>
  </div>
  <div class="row">
      <div class="tracktitle">{{localize 'sta.apps.complicationrange'}}</div>
      <input class="numeric-entry" type="number" name="complicationRange" value="1" id="complicationRange">
  </div>
  <div class="row">
      <div class="tracktitle">{{localize 'sta.roll.shipassisting'}}</div>
      <input type="checkbox" name="shipAssist" id="shipAssist" checked>
  </div>
  <div class="row">
    <div class="tracktitle">{{localize 'sta.actor.starship.system.title'}}</div>
    <input type="number" name="systemValue" min="1" value="{{defaultValue}}" class="numeric-entry" id="systemValue">
  </div>
  <div class="row">
    <div class="tracktitle">{{localize 'sta.actor.starship.department.title'}}</div>
    <input type="number" name="departmentValue" min="1" value="{{defaultDepartmentValue}}" class="numeric-entry" id="departmentValue">
  </div>
</div>