<div class="chatcard">
  <div class="heading">
    <div class="name">
      {{speakerName}}
    </div>
    <div class="flavor challenge">
      {{flavor}}
    </div>
  </div>
  <div class="row">
    <div class="columna">
      {{localize "sta.apps.dicepoolwindow"}}
    </div>
  </div>
  <div class="row">
    <div class="columnb">
      <div class="goldtext">{{dicePool}}d6</div>
    </div>
  </div>
  <div class="dice">
    <ol class="dice-rolls">{{{diceString}}}</ol>
  </div>
  <div class="row">
    <div class="columnc">
      <div class="greentext">{{successText}}</div>
    </div>
    <div class="columnc">
      <div class="redtext">{{effectText}}</div>
    </div>
  </div>
  <div class="reroll-button" data-message-id="{{_id}}">
    {{localize "sta.roll.rerollresults"}}
  </div>
</div>