<div class="sta roll generic chat card" data-item-id="{{itemId}}">
  <section class="card-header collapsible">
    <header>
      <img class="img" src="{{img}}"/>
      <div class="title">
        <div class="name">{{name}}</div>
        <div class="type">{{type}}</div>
      </div>
    </header>
    <div class="description collapsible-content">{{{descFieldHtml}}}</div>
  </section>
  <div class="content">
    {{{varFieldHtml}}}
    {{#if tags}}
      <div class='tags'>
        {{#each tags}}
          <div class="tag">{{this}}</div>
        {{/each}}
      </div>
    {{/if}}
  </div>
</div>