<div class="sta roll generic chat card" data-item-id="{{itemId}}">
  <section class="card-header {{#if descFieldHtml}}collapsible{{/if}}">
    <header>
      <img class="img" src="{{img}}"/>
      <div class="title">
        <div class="name">{{name}}</div>
        <div class="type">{{type}}</div>
      </div>
    </header>
    {{#if descFieldHtml}}<div class="description collapsible-content">{{{descFieldHtml}}}</div>{{/if}}
  </section>
  <div class="content">
    {{#if varFieldHtml}}<div class="vars">{{{varFieldHtml}}}</div>{{/if}}
    {{#if tags}}
    <div class='tags'>
      {{#each tags}}
      <div class="tag">{{this}}</div>
      {{/each}}
    </div>
    {{/if}}
    {{#if rolls}}
      {{#if rolls.challenge}}{{#with rolls.challenge}}{{> 'sta.chat.parts.weapon-roll'}}{{/with}}{{/if}}
    {{/if}}
  </div>
</div>