<div class="sta roll chat card" data-item-id="{{itemId}}" data-token-id="{{tokenId}}" data-speaker-id="{{speakerId}}">
  <section class="card-header {{#if descFieldHtml}}collapsible{{/if}}">
    <header>
      <img class="img" src="{{img}}"/>
      <div class="title">
        <div class="name">{{name}}</div>
        <div class="type">{{type}}</div>
      </div>
    </header>
  <div class="description collapsible-content"><div class="desc-content">{{#if descFieldHtml}}{{{descFieldHtml}}}</div>{{/if}}</div>
  </section>
  <div class="content">
    {{#if varFieldHtml}}<div class="vars">{{{varFieldHtml}}}</div>{{/if}}
    {{#if tags}}
      <div class='tags'>
        {{#each tags}}
          <div class="tag" title="{{this.tooltip}}">{{this.label}}</div>
        {{/each}}
      </div>
    {{/if}}
    {{#if rolls}}
      {{#if rolls.challenge}}{{#with rolls.challenge}}{{> 'sta.chat.weapon-roll'}}{{/with}}{{/if}}
    {{/if}}
  </div>
</div>
