<div class="chatcard">
  <div class="heading">
    <div class="name">
      {{speakerName}}
    </div>
    <div class="flavor item">
      {{flavor}}
    </div>
  </div>
  <div class="itemheader">
    <div class="columnitem">
      <img class="img" src="{{img}}"/>
    </div>
    <div class="columnitem">
      <div class="goldtext">{{name}}</div>
    </div>
  </div>

  {{#if damageRow}}
    <div class="row">
      <div class="columna">
        {{localize "sta.actor.belonging.weapon.damage"}}
      </div>
      <div class="columna">
        {{localize "sta.actor.belonging.weapon.range"}}
      </div>
      <div class="columna">
        {{localize "sta.item.talent.type.title"}}
      </div>
    </div>
    <div class="row">
      <div class="columnb">
        <div class="goldtext">{{itemDamage}}</div>
      </div>
      <div class="columnb">
        <div class="goldtext">{{range}}</div>
      </div>
      <div class="columnb">
        <div class="goldtext">{{weapontype}}</div>
      </div>
    </div>
  {{/if}}

  {{#if quantityRow}}
    <div class="row">
      <div class="columna">
        {{localize "sta.actor.belonging.other.quantity"}}
      </div>
      <div class="columna">
        {{localize "sta.item.genericitem.opportunity"}}
      </div>
      <div class="columna">
        {{localize "sta.item.genericitem.escalation"}}
      </div>
    </div>
    <div class="row">
      <div class="columnb">
        <div class="goldtext">{{itemQuantity}}</div>
      </div>
      <div class="columnb">
        <div class="goldtext">{{opportunityCost}}</div>
      </div>
      <div class="columnb">
        <div class="goldtext">{{escalationCost}}</div>
      </div>
    </div>
  {{/if}}

  {{#if tags}}
    <div class='tags'>
      {{#each tags}}
        <div class="tag" data-tooltip="{{this.tooltip}}">{{this.label}}</div>
      {{/each}}
    </div>
  {{/if}}

  {{#if descFieldHtml}}
    <div class="row itemdescription collapsible hidden">^---- {{localize "sta.item.genericitem.description"}} ----^</div>
    <div class="row itemdescription collapsible" data-tooltip="{{descFieldHtml}}">⌄---- {{localize "sta.item.genericitem.description"}} ----⌄</div>
    <div class="collapsible-content hidden">
      {{{descFieldHtml}}}
    </div>
  {{/if}}
    
  {{#if rollAsWeapon}}
    <div class="dice">
      <ol class="dice-rolls">{{{diceString}}}</ol>
    </div>
    <div class="row">
      <div class="columnc">
        <div class="greentext">{{successText}}</div>
      </div>
      <div class="columnc">
        <div class="redtext">{{effectText}}</div>
      </div>
    </div>
    <div class="reroll-button" data-message-id="{{_id}}">
      {{localize "sta.roll.rerollresults"}}
    </div>
  {{/if}}
</div>