<div class="sta roll generic" data-item-id="{{itemId}}">
  <div class="dice-roll">
    <div class="dice-result">
      <div class="dice-formula title">
        <img class="img" src="{{mg}}">
        <div>{{name}}</div>
      </div>
      {{{varFieldHtml}}}
      <div class="dice-tooltip">{{{descFieldHtml}}}</div>
      {{#if tags}}
      <div class='tags'>
        {{#each tags}}
          <div class="tag">{{this}}</div>
        {{/each}}
      </div>
      {{/if}}
      <div>
      </div>
    </div>
  </div>
</div>