<div class="chatcard">
  <div class="heading">
    <div class="name">
      {{speakerName}}
    </div>
    <div class="flavor acclaim">
      {{flavor}}
    </div>
  </div>
  <div class="row">
    <div class="columna">
      {{localize "sta.apps.dicepoolwindow"}}
    </div>
    <div class="columna">
      {{localize "sta.roll.target"}}
    </div>
    <div class="columna">
      {{localize "sta.actor.extendedtask.difficulty"}}
    </div>
    <div class="columna">
      {{localize "sta.roll.complication"}}
    </div>
  </div>
  <div class="row">
    <div class="columnb">
      <div class="goldtext">{{dicePool}}d20</div>
    </div>
    <div class="columnb">
      <div class="goldtext">{{targetNumber}}</div>
    </div>
    <div class="columnb">
      <div class="goldtext">{{negativeInfluences}}</div>
    </div>
    <div class="columnb">
      <div class="goldtext">{{complicationThreshold}}+</div>
    </div>
  </div>
  <div class="focusrow">
    {{rollDetails}}
  </div>
  <div class="dice">
    <ol class="dice-rolls">{{{diceHtml}}}</ol>
  </div>
  <div class="row">
    <div class="greytext">{{outcomeText}}</div>
  </div>
</div>