<div class="sta roll chat card" data-token-id="{{tokenId}}" data-speaker-id="{{speakerId}}" data-roll-id="{{rollId}}">
  <div class="dice-roll collapsible">
    <div class="dice-result">
      <div class="dice-formula">
        {{localize "sta.roll.rerollresults"}}
      </div>
      <div class="tooltip">
        <section class="tooltip-part collapsible-content">
          <div class="dice">
            {{localize "sta.roll.previousdicerolls"}}:
            <ol class="dice-rolls">{{{previousRoll}}}</ol>
            {{localize "sta.roll.newdicerolls"}}:
            <ol class="dice-rolls">{{{diceHtml}}}</ol>
          </div>
        </section>
      </div>
      {{{effectHtml}}}
      {{{complicationHtml}}}
      <h4 class="dice-total">{{successText}}</h4>
    </div>
  </div>
</div>