<form class="item-sheet" autocomplete="off">
  <div class="row">
    <div class="image-field">
      <img class="img" src="{{img}}" data-edit="img" title="{{name}}" />
    </div>
    <div class="column">
      <div class="title">{{localize 'sta.item.genericitem.name'}}</div>
      <input name="name" type="text" class="text-entry" value="{{name}}" placeholder="Name" />
    </div>
  </div>

  <div class="row">
    <div class="grid">
      <div class="tracktitle">{{localize 'sta.item.genericitem.opportunity'}}</div>
      <input type="number" class="numeric-entry" name="system.qualities.opportunity" value="{{system.qualities.opportunity}}" data-dtype="Number" />
    </div>
    <div class="grid">
      <div class="tracktitle">{{localize 'sta.item.genericitem.escalation'}}</div>
      <input type="number" class="numeric-entry" name="system.qualities.escalation" value="{{system.qualities.escalation}}" data-dtype="Number" />
    </div>
    <div class="grid">
      <input type="checkbox" name="system.qualities.stun" data-dtype="Boolean" {{checked system.qualities.stun}}>
      <div class="tracktitle">{{localize 'sta.actor.belonging.weapon.stun'}}</div>
    </div>
    <div class="grid">
      <input type="checkbox" name="system.qualities.deadly" data-dtype="Boolean" {{checked system.qualities.deadly}}>
      <div class="tracktitle">{{localize 'sta.actor.belonging.weapon.deadly'}}</div>
    </div>
  </div>

  <div class="row">
    <div class="columnx4">
      <div class="title">{{localize 'sta.actor.belonging.weapon.range'}}</div>
      <select name="system.range">
        <option value="melee" {{#if (eq system.range "melee")}}selected{{/if}}>{{localize 'sta.actor.belonging.weapon.melee'}}</option>
        <option value="ranged" {{#if (eq system.range "ranged")}}selected{{/if}}>{{localize 'sta.actor.belonging.weapon.ranged'}}</option>
      </select>
    </div>
    <div class="columnx4">
      <div class="title">{{localize 'sta.actor.belonging.weapon.hands'}}</div>
      <select name="system.hands">
        <option value="1" {{#if (eq system.hands "1")}}selected{{/if}}>{{localize 'sta.counting.one'}}</option>
        <option value="2" {{#if (eq system.hands "2")}}selected{{/if}}>{{localize 'sta.counting.two'}}</option>
      </select>
    </div>
    <div class="columnx4">
      <div class="title">{{localize 'sta.item.genericitem.severity'}}</div>
      <input type="number" name="system.damage" value="{{system.damage}}" data-dtype="Number" />
    </div>
  </div>

  <div class="row">
    <div class="grid">
      <input type="checkbox" name="system.qualities.accurate" data-dtype="Boolean" {{checked system.qualities.accurate}}>
      <div class="tracktitle">{{localize 'sta.actor.belonging.weapon.accurate'}}</div>
    </div>
    <div class="grid">
      <input type="checkbox" name="system.qualities.area" data-dtype="Boolean" {{checked system.qualities.area}}>
      <div class="tracktitle">{{localize 'sta.actor.belonging.weapon.area'}}</div>
    </div>
    <div class="grid">
      <input type="checkbox" name="system.qualities.charge" data-dtype="Boolean" {{checked system.qualities.charge}}>
      <div class="tracktitle">{{localize 'sta.actor.belonging.weapon.charge'}}</div>
    </div>
    <div class="grid">
      <input type="checkbox" name="system.qualities.cumbersome" data-dtype="Boolean" {{checked system.qualities.cumbersome}}>
      <div class="tracktitle">{{localize 'sta.actor.belonging.weapon.cumbersome'}}</div>
    </div>
  </div>

  <div class="row">
    <div class="grid">
      <input type="checkbox" name="system.qualities.debilitating" data-dtype="Boolean" {{checked system.qualities.debilitating}}>
      <div class="tracktitle">{{localize 'sta.actor.belonging.weapon.debilitating'}}</div>
    </div>
    <div class="grid">
      <input type="checkbox" name="system.qualities.grenade" data-dtype="Boolean" {{checked system.qualities.grenade}}>
      <div class="tracktitle">{{localize 'sta.actor.belonging.weapon.grenade'}}</div>
    </div>
    <div class="grid">
      <input type="checkbox" name="system.qualities.inaccurate" data-dtype="Boolean" {{checked system.qualities.inaccurate}}>
      <div class="tracktitle">{{localize 'sta.actor.belonging.weapon.inaccurate'}}</div>
    </div>
    <div class="grid">
      <input type="checkbox" name="system.qualities.intense" data-dtype="Boolean" {{checked system.qualities.intense}}>
      <div class="tracktitle">{{localize 'sta.actor.belonging.weapon.intense'}}</div>
    </div>
  </div>

  <div class="row">
    <div class="grid">
      <input type="checkbox" name="system.qualities.piercingx" data-dtype="Boolean" {{checked system.qualities.piercingx}}>
      <div class="tracktitle">{{localize 'sta.actor.belonging.weapon.piercingx'}}</div>
    </div>
    <div class="grid">
      <div class="tracktitle">{{localize 'sta.actor.belonging.weapon.hiddenx'}}</div>
      <input type="number" class="numeric-entry" name="system.qualities.hiddenx" value="{{system.qualities.hiddenx}}" data-dtype="Number" />
    </div>
  </div>

  <div class="title">{{localize 'sta.item.genericitem.description'}}</div>
  <div class="note">
    {{editor system.description target="system.description" button=true owner=owner editable=true}}
  </div>
</form>
