<form class="item-sheet" autocomplete="off">
  <div class="row">
    <div class="image-field">
      <img class="img" src="{{img}}" data-edit="img" title="{{name}}" />
    </div>
    <div class="column">
      <div class="title">{{localize 'sta.item.genericitem.name'}}</div>
      <input name="name" type="text" class="text-entry" value="{{name}}" placeholder="Name" />
    </div>
  </div>

  <div class="row">
    <div class="tracktitle">{{localize 'sta.item.genericitem.opportunity'}}</div>
    <input type="number" class="numeric-entry" name="system.opportunity" value="{{system.opportunity}}" data-dtype="Number" />

    <div class="tracktitle">{{localize 'sta.item.genericitem.escalation'}}</div>
    <input type="number" class="numeric-entry" name="system.escalation" value="{{system.escalation}}" data-dtype="Number" />
  </div>

  <div class="row">
    <div class="columnx4">
      <div class="title">{{localize 'sta.actor.belonging.weapon.range'}}</div>
      <select name="system.range">
        <option value="close" {{#if (eq system.range "close")}}selected{{/if}}>{{localize 'sta.actor.belonging.weapon.close'}}</option>
        <option value="medium" {{#if (eq system.range "medium")}}selected{{/if}}>{{localize 'sta.actor.belonging.weapon.medium'}}</option>
        <option value="long" {{#if (eq system.range "long")}}selected{{/if}}>{{localize 'sta.actor.belonging.weapon.long'}}</option>
      </select>
    </div>  
    <div class="columnx4">
      <div class="title">{{localize 'sta.item.talent.type.title'}}</div>
      <select name="system.includescale">
        <option value="energy" {{#if (eq system.includescale "energy")}}selected{{/if}}>{{localize 'sta.actor.belonging.weapon.energy'}}</option>
        <option value="torpedo" {{#if (eq system.includescale "torpedo")}}selected{{/if}}>{{localize 'sta.actor.belonging.weapon.torpedo'}}</option>
      </select>
    </div>
    <div class="columnx4">
      <div class="title">{{localize 'sta.actor.belonging.weapon.damage'}}</div>
      <input type="number" name="system.damage" value="{{system.damage}}" data-dtype="Number" />  
    </div>
    {{#if (eq system.includescale "energy")}}
      <div class="columnx4">
        <div class="tracktitle">{{localize 'sta.actor.belonging.weapon.energy'}} {{localize 'sta.actor.belonging.weapon.damage'}} =</div>
        {{system.damage}} + {{localize 'sta.actor.starship.scale'}} + {{localize 'sta.actor.belonging.weapon.dbfwr'}}
      </div>
    {{else if (eq system.includescale "torpedo")}}
      <div class="columnx4">
        <div class="tracktitle">{{localize 'sta.actor.belonging.weapon.torpedo'}} {{localize 'sta.actor.belonging.weapon.damage'}} =</div>
        {{system.damage}} + {{localize 'sta.actor.belonging.weapon.dbfwr'}}
      </div>
    {{/if}} 
  </div>

  <div class="row">
    <div class="grid">
      <input type="checkbox" name="system.qualities.area" data-dtype="Boolean" {{checked system.qualities.area}}>
      <div class="tracktitle">{{localize 'sta.actor.belonging.weapon.area'}}</div>
    </div>
    <div class="grid">
      <input type="checkbox" name="system.qualities.calibration" data-dtype="Boolean" {{checked system.qualities.calibration}}>
      <div class="tracktitle">{{localize 'sta.actor.belonging.weapon.calibration'}}</div>
    </div>
    <div class="grid">
      <input type="checkbox" name="system.qualities.cumbersome" data-dtype="Boolean" {{checked system.qualities.cumbersome}}>
      <div class="tracktitle">{{localize 'sta.actor.belonging.weapon.cumbersome'}}</div>
    </div>
    <div class="grid">
      <input type="checkbox" name="system.qualities.dampening" data-dtype="Boolean" {{checked system.qualities.dampening}}>
      <div class="tracktitle">{{localize 'sta.actor.belonging.weapon.dampening'}}</div>
    </div>
  </div>

  <div class="row">
    <div class="grid">
      <input type="checkbox" name="system.qualities.depleting" data-dtype="Boolean" {{checked system.qualities.depleting}}>
      <div class="tracktitle">{{localize 'sta.actor.belonging.weapon.depleting'}}</div>
    </div>
    <div class="grid">
      <input type="checkbox" name="system.qualities.devastating" data-dtype="Boolean" {{checked system.qualities.devastating}}>
      <div class="tracktitle">{{localize 'sta.actor.belonging.weapon.devastating'}}</div>
    </div>
    <div class="grid">
      <input type="checkbox" name="system.qualities.highyield" data-dtype="Boolean" {{checked system.qualities.highyield}}>
      <div class="tracktitle">{{localize 'sta.actor.belonging.weapon.highyield'}}</div>
    </div>
    <div class="grid">
      <input type="checkbox" name="system.qualities.intense" data-dtype="Boolean" {{checked system.qualities.intense}}>
      <div class="tracktitle">{{localize 'sta.actor.belonging.weapon.intense'}}</div>
    </div>
  </div>

  <div class="row">
    <div class="grid">
      <input type="checkbox" name="system.qualities.jamming" data-dtype="Boolean" {{checked system.qualities.jamming}}>
      <div class="tracktitle">{{localize 'sta.actor.belonging.weapon.jamming'}}</div>
    </div>
    <div class="grid">
      <input type="checkbox" name="system.qualities.persistent" data-dtype="Boolean" {{checked system.qualities.persistent}}>
      <div class="tracktitle">{{localize 'sta.actor.belonging.weapon.persistentx'}}</div>
    </div>
    <div class="grid">
      <input type="checkbox" name="system.qualities.piercing" data-dtype="Boolean" {{checked system.qualities.piercing}}>
      <div class="tracktitle">{{localize 'sta.actor.belonging.weapon.piercingx'}}</div>
    </div>
    <div class="grid">
      <input type="checkbox" name="system.qualities.slowing" data-dtype="Boolean" {{checked system.qualities.slowing}}>
      <div class="tracktitle">{{localize 'sta.actor.belonging.weapon.slowing'}}</div>
    </div>
  </div>

  <div class="row">
    <div class="grid">
      <input type="checkbox" name="system.qualities.spread" data-dtype="Boolean" {{checked system.qualities.spread}}>
      <div class="tracktitle">{{localize 'sta.actor.belonging.weapon.spread'}}</div>
    </div>
    <div class="grid">
      <div class="tracktitle">{{localize 'sta.actor.belonging.weapon.hiddenx'}}</div>
      <input type="number" class="numeric-entry" name="system.qualities.hiddenx" value="{{system.qualities.hiddenx}}" data-dtype="Number" />
    </div>
    <div class="grid">
      <div class="tracktitle">{{localize 'sta.actor.belonging.weapon.versatilex'}}</div>
      <input type="number" class="numeric-entry" name="system.qualities.versatilex" value="{{system.qualities.versatilex}}" data-dtype="Number" />
    </div>
  </div>

  <div class="title">{{localize 'sta.item.genericitem.description'}}</div>
  <div class="note">
    {{editor system.description target="system.description" button=true owner=owner editable=true}}
  </div>
</form>
