<div class="item-sheet">
  <div class="row">
    <div class="image-field">
      <img class="img" src="{{item.img}}" data-edit="img" data-action="editImage" title="{{item.name}}" />
    </div>
    <div class="column">
      <div class="title">{{localize 'sta.item.genericitem.name'}}</div>
      <input name="name" type="text" class="text-entry" value="{{item.name}}" placeholder="Name" />
    </div>
  </div>

  <div class="row">
    <div class="column traits">
      <div class="title">{{localize 'sta.item.talent.type.title'}}</div>
      <select name="system.talenttype.typeenum">
        <option value="general" {{#if (eq item.system.talenttype.typeenum "general")}}selected{{/if}}>{{localize 'sta.item.talent.type.general'}}</option>
        <option value="discipline" {{#if (eq item.system.talenttype.typeenum "discipline")}}selected{{/if}}>{{localize 'sta.item.talent.type.discipline'}}</option>
        <option value="attribute" {{#if (eq item.system.talenttype.typeenum "attribute")}}selected{{/if}}>{{localize 'sta.item.talent.type.attribute'}}</option>
        <option value="systems" {{#if (eq item.system.talenttype.typeenum "systems")}}selected{{/if}}>{{localize 'sta.actor.starship.system.title'}}</option>
        <option value="species" {{#if (eq item.system.talenttype.typeenum "species")}}selected{{/if}}>{{localize 'sta.actor.character.species'}}</option>
        <option value="house" {{#if (eq item.system.talenttype.typeenum "house")}}selected{{/if}}>{{localize 'sta.item.talent.houselegacy'}}</option>
      </select>
    </div>

    <div class="column">
      {{#if (eq item.system.talenttype.typeenum "discipline")}}
        <div class="title">{{localize 'sta.item.talent.requires'}}</div>
        <div class="inline-container">
          <select name="system.talenttype.description">
            <option value="command" {{#if (eq item.system.talenttype.description "command")}}selected{{/if}}>{{localize 'sta.actor.character.discipline.command'}}</option>
            <option value="conn" {{#if (eq item.system.talenttype.description "conn")}}selected{{/if}}>{{localize 'sta.actor.character.discipline.conn'}}</option>
            <option value="engineering" {{#if (eq item.system.talenttype.description "engineering")}}selected{{/if}}>{{localize 'sta.actor.character.discipline.engineering'}}</option>
            <option value="medicine" {{#if (eq item.system.talenttype.description "medicine")}}selected{{/if}}>{{localize 'sta.actor.character.discipline.medicine'}}</option>
            <option value="science" {{#if (eq item.system.talenttype.description "science")}}selected{{/if}}>{{localize 'sta.actor.character.discipline.science'}}</option>
            <option value="security" {{#if (eq item.system.talenttype.description "security")}}selected{{/if}}>{{localize 'sta.actor.character.discipline.security'}}</option>
          </select>
          <input type="number" name="system.talenttype.minimum" value="{{item.system.talenttype.minimum}}" /> +
        </div>
      {{else if (eq item.system.talenttype.typeenum "attribute")}}
        <div class="title">{{localize 'sta.item.talent.requires'}}</div>
        <div class="inline-container">
          <select name="system.talenttype.description">
            <option value="control" {{#if (eq item.system.talenttype.description "control")}}selected{{/if}}>{{localize 'sta.actor.character.attribute.control'}}</option>
            <option value="daring" {{#if (eq item.system.talenttype.description "daring")}}selected{{/if}}>{{localize 'sta.actor.character.attribute.daring'}}</option>
            <option value="fitness" {{#if (eq item.system.talenttype.description "fitness")}}selected{{/if}}>{{localize 'sta.actor.character.attribute.fitness'}}</option>
            <option value="insight" {{#if (eq item.system.talenttype.description "insight")}}selected{{/if}}>{{localize 'sta.actor.character.attribute.insight'}}</option>
            <option value="presence" {{#if (eq item.system.talenttype.description "presence")}}selected{{/if}}>{{localize 'sta.actor.character.attribute.presence'}}</option>
            <option value="reason" {{#if (eq item.system.talenttype.description "reason")}}selected{{/if}}>{{localize 'sta.actor.character.attribute.reason'}}</option>
          </select>
          <input type="number" name="system.talenttype.minimum" value="{{item.system.talenttype.minimum}}" /> +
        </div>
      {{else if (eq item.system.talenttype.typeenum "systems")}}
        <div class="title">{{localize 'sta.item.talent.requires'}}</div>
        <div class="inline-container">
          <select name="system.talenttype.description">
            <option value="communications" {{#if (eq item.system.talenttype.description "communications")}}selected{{/if}}>{{localize 'sta.actor.starship.system.communications'}}</option>
            <option value="computers" {{#if (eq item.system.talenttype.description "computers")}}selected{{/if}}>{{localize 'sta.actor.starship.system.computers'}}</option>
            <option value="engines" {{#if (eq item.system.talenttype.description "engines")}}selected{{/if}}>{{localize 'sta.actor.starship.system.engines'}}</option>
            <option value="sensors" {{#if (eq item.system.talenttype.description "sensors")}}selected{{/if}}>{{localize 'sta.actor.starship.system.sensors'}}</option>
            <option value="structure" {{#if (eq item.system.talenttype.description "structure")}}selected{{/if}}>{{localize 'sta.actor.starship.system.structure'}}</option>
            <option value="weapons" {{#if (eq item.system.talenttype.description "weapons")}}selected{{/if}}>{{localize 'sta.actor.starship.system.weapons'}}</option>
          </select>
          <input type="number" name="system.talenttype.minimum" value="{{item.system.talenttype.minimum}}" /> +
        </div>
      {{else if (eq item.system.talenttype.typeenum "species")}}
        <div class="title">{{localize 'sta.item.talent.requires'}} {{localize 'sta.actor.character.species'}} </div>
        <input type="text" name="system.talenttype.description" value="{{item.system.talenttype.description}}" />
      {{else if (eq item.system.talenttype.typeenum "house")}}
        <div class="title">{{localize 'sta.item.talent.requires'}} {{localize 'sta.item.talent.houserequired'}} </div>
        <select name="system.talenttype.description">
          <option value="leaders" {{#if (eq item.system.talenttype.description "leaders")}}selected{{/if}}>{{localize 'sta.item.house.legacy.leaders'}}</option>
          <option value="warriors" {{#if (eq item.system.talenttype.description "warriors")}}selected{{/if}}>{{localize 'sta.item.house.legacy.warriors'}}</option>
          <option value="spacefarers" {{#if (eq item.system.talenttype.description "spacefarers")}}selected{{/if}}>{{localize 'sta.item.house.legacy.spacefarers'}}</option>
          <option value="engineers" {{#if (eq item.system.talenttype.description "engineers")}}selected{{/if}}>{{localize 'sta.item.house.legacy.engineers'}}</option>
          <option value="scientists" {{#if (eq item.system.talenttype.description "scientists")}}selected{{/if}}>{{localize 'sta.item.house.legacy.scientists'}}</option>
          <option value="physicians" {{#if (eq item.system.talenttype.description "physicians")}}selected{{/if}}>{{localize 'sta.item.house.legacy.physicians'}}</option>
        </select>
      {{/if}}
    </div>
  </div>

  <div class="title">{{localize 'sta.item.genericitem.description'}}</div>
    <div class="note">
      <prose-mirror name="system.description" data-document-u-u-i-d="{{item.uuid}}" value="{{item.system.description}}" collaborate="true" toggled="true">
        {{{enrichedNotes}}}
      </prose-mirror>
    </div>
</div>
