<form class="item-sheet" autocomplete="off">
  <div class="row">
    <div class="image-field">
      <img class="img" src="{{img}}" data-edit="img" title="{{name}}" />
    </div>
    <div class="column">
      <div class="title">{{localize 'sta.item.genericitem.name'}}</div>
      <input name="name" type="text" class="text-entry" value="{{name}}" placeholder="Name" />
    </div>
  </div>

  <div class="row">
    <div class="tracktitle">{{localize 'sta.actor.belonging.other.quantity'}}</div>
    <input type="number" class="numeric-entry" name="system.quantity" value="{{system.quantity}}" data-dtype="Number" />
  </div>

  <div class="title">{{localize 'sta.item.genericitem.description'}}</div>
  <div class="note">
    {{editor system.description target="system.description" button=true owner=owner editable=true}}
  </div>
</form>